.content-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .content {
    padding-inline: 15%;
    margin-top: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .galerie {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 25px;
      .project-card {
        padding-block: 20px;
        background-color: #D9D9D9;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 300px;
        border-radius: 25px;

        .formating {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 85%;
          gap: 20px;
          flex: 1;                    /* ← Nimmt verfügbaren Platz ein */
          justify-content: space-between;

          .project-name {
            font-size: 1.5rem;
            font-weight: bold;
          }

          div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
          }
          .download {
            background-color: #FF9C08;
            border: none;
            cursor: pointer;
            width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-block: 5px;
            border-radius: 20px;
            margin-top: auto;

            img {
              width: 20px;
              border-radius: 0px;
            }
          }
        }
        .project-description{
          text-align: center;
        }
        img {
          width: 100%;
          border-radius: 25px;
        }
      }
    }
  }
}
