.content-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4.5rem;
  .main {
    .pictures {
      display: flex;
      justify-content: center;
      width: 100%;
      gap: 5%;
      img {
        border-radius: 50px;
        width: 20%;
        height: auto;
      }
    }
  }
}
