.content-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 680px;
    max-width: 100%;
    margin-top: 4.5rem;

    .skillcard {
      background-color: #D9D9D9;
      border-radius: 50px;
      padding: 1rem;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
      transition: transform 0.2s ease;

      .skill-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .skill-description {
          text-align: center;
          font-size: 0.9375rem;
        }

        .skill-name {
          font-size: 1.875rem;
          font-weight: bold;
        }

        .image-container {
          img {
            width: 160px;
          }
        }

        .divider {
          width: 55%;
          height: 2px;
          background-color: #000;
        }
      }
    }

    .skillcard:hover {
      transform: scale(1.04);
    }
  }
  .scroll {
    display: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content-container {
    width: 90%;
    margin-left: 0.75rem;

    .content {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      padding: 0 1.7rem 1.8rem;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      justify-content: flex-start;

      &::-webkit-scrollbar {
        display: none;
      }

      .skillcard {
        flex: 0 0 300px;
        scroll-snap-align: center;
        border-radius: 35px;
      }
    }
    .scroll{
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-top: 1rem;

      span {
        font-size: 1rem;
      }

      img {
        width: 20px;
      }
    }
  }
}